.container {
    width: 240px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 20px;
}

.closeLine {
    // background-color: red;
    justify-content: end;
    display: flex;
    width: 100%;

    .closeBox {
        width: 24px;
        height: 24px;
        cursor: pointer
    }
}

.title {
    font-size: 20px;
    font-weight: bold
}

.inputBlock {
    display: flex;
    gap: 10px;
}

// button {
//     z-index: 10;
//     position: absolute;
//     top: 50px;
//     left: 50px
// }